body {
    background-color: #333333;
    color: #dddddd;
    font-family: Georgia, serif;
}

.heading {
    font-size: 60px;
    vertical-align: text-top;
}

.fill-width {
    height: 30px;
    width: 100%;
    background-color: #333333;
    color: #dddddd;
    border: none;
}

.button {
    background-color: #333333;
    color: #dddddd;
    border: none;
}

table td {
    padding-left: 25px;
}

table th {
    padding-left: 25px;
    text-align: left;
}

.run-button {
    background-color: #333333;
    color: #333333;
    border: none;
    height: 50px;
    width: 50px;
    background-image: url('run/run.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 20px; 
    background-size: cover;
    vertical-align: top;
}

.link-button {
    background-color: #333333;
    color: #333333;
    border: none;
    height: 50px;
    width: 65px;
    background-image: url('run/link.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 20px; 
    background-size: cover;
    vertical-align: top;
}

.cgcc-button {
    background-color: #333333;
    color: #333333;
    border: none;
    height: 50px;
    width: 50px;
    background-image: url('run/cgcc.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 20px; 
    background-size: cover;
    vertical-align: top;
}

.md-button {
    background-color: #333333;
    color: #333333;
    border: none;
    height: 50px;
    width: 75px;
    background-image: url('run/md.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 20px; 
    background-size: cover;
    vertical-align: top;
}

.cmc-button {
    background-color: #333333;
    color: #333333;
    border: none;
    height: 50px;
    width: 55px;
    background-image: url('run/cmc.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 20px; 
    background-size: cover;
    vertical-align: top;
}

.done-button {
    background-color: #333333;
    color: #333333;
    border: none;
    height: 50px;
    /* width: 50px; */
    background-image: url('run/done.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 20px; 
    background-size: cover;
    vertical-align: top;
}

a {
    color: #cccccc;
}

textarea {
    resize: none;
}

#bytecount {
    font-size: 25px;
}

.wrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}
